body {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-y: scroll; /*no jerking caused by hiding scrollbar*/
	background: rgb(245,244,241);
}

article {
	visibility:hidden;
	margin: auto;
	padding: 30px 8px 8px 88px;
	background:rgb(245,244,241);
	line-height: 1.7em;
	color: #333;
}
article img,article iframe{
	max-width:100%;
	height:inherit;
	text-align:center;
	float:none;
	display:block;
	margin:40px auto;
}

h1 { line-height: 1.5em; }

article iframe {
	height:450px; /*16:9 video*/
}

nav {
	position:fixed;
	left:0;
	width:60px;
	background:#555;
	color:white;
	top:0;
	bottom:0;
	text-align:center;
	text-transform:uppercase;
	font-size:10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
nav ul {
	padding:0;
}
nav li {
	list-style-type:none;
	margin:10px 0 0 0;
	height:55px;
}
nav li:hover, .depressed {
	background:#333;
}
nav i {
	font-size:36px;
	display:block!important;
	margin:auto;
}
nav li:active , .depressed {
	position:relative;
	top:1px;
}
nav #pending {
	font-size:36px;
	margin-top:30px;
	height:55px;
}
nav li.disabled {
	opacity:0.30;
}
nav li.disabled:active, nav li.disabled:hover {
	position:inherit;
	background:inherit;
}
nav li i {
	cursor:pointer;
}
nav li.disabled i {
	cursor:default;
}
#loading,#placeholder {
	color:gray;
	position:fixed;
	top:40%; left:0;
	text-align:center;
	height:32px;
	width:100%;
	z-index:-999;
	margin:-16px 0 0 -36px;
	font-size:40px;
	opacity:0.2;
}
a {
	color:#84bc2b;
	text-decoration:none;
}

article time, .note {
	color:gray;
	vertical-align:middle;
	font-style:italic;
	font-weight:normal;
	font-size:12px;
}

article time {
	margin-left:22px;
}

#notification {
	top:15px;
	position:absolute;
	color:gray;
	right:100px;
	text-align:center;
	left:0;
}

/* blog hack images (tracking pixels, link text images, share buttons etc)*/
a > img, .blog a[rel="nofollow"] img,.blog img[height="1"],.blog img[border="0"] {
	border:0;
	margin:0;
	padding:0;
	display:inline-block;
}

/* Stop IE from drawing silly dots around links */
a:active,a:focus {
	outline:none;
	ie-dummy:expression(this.hideFocus=true);
}

@media only screen and (min-width: 480px) {
  article {
    max-width: 460px;
  }
}

@media only screen and (min-width: 768px) {
  article {
    max-width: 650px;
  }
  nav {
    width: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.1em;
  }
  article {
    max-width: 700px;
  }
  nav {
    width: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    font-size: 1.4em;
  }
  article {
    max-width: 800px;
  }
  nav {
    width: 100px;
  }
}
